<ul class="nav nav-tabs">
  <% _var = request.fullpath.include?('/category/') || request.fullpath.include?('/location/')? request.fullpath : '' %>
  <li class="<%= is_active?(['/courses', _var]) %>"><%= link_to "Courses", courses_path %></li>
  <li class="<%= is_active?('/users') %>"><%= link_to "Coordinators", users_path %></li>
</ul>